<div class="calculadora-v">

<div class="calculadora-c">

<div class="calculadora-h">Calculadora de crédito hipotecario</div>
<br>
<div for="" class="calculadora-lbl">Importe</div>
<input type="number" class="calculadora-input" id="importe">
<br>
<br>
<div for="" class="calculadora-lbl">Plazo en meses</div>
<input type="number" class="calculadora-input" id="meses">
<br>
<br>
<div for="" class="calculadora-lbl">Taza de interés</div>
<input type="number" class="calculadora-input" id="interes">
<br>
<br>
<button type="button" name="button" class="calculadora-button" onclick="cal()" id="boton">Calcular</button>
<br>
<div for="" class="calculadora-lbl">Usted pagaría por mes</div><br>
<br>
<input for="" id="result" class="calculadora-input" disabled>
