.square{
  height: 300px;
  width: 300px;
  background-color: rgba(32,32,32,0.5);
  backdrop-filter: blur(2px);

}


.acerca-v{
  background-image: url("../img/houses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
