#container{
  background-color: rgb(209, 209, 224);
  border-radius: 5%;
  width:80%;
  margin-left: 10%;
  margin-top: 50px;
}

#container .lab{
  background-color: rgba(250,  250,  250, 0.5);
}

#head{
  background-color:rgb(209,209,224);
  border-collapse: collapse;
  font-size: 20px;
}

#container td{
  padding: 3px;
}

.textfield{
  width:100%;
  height:100%;
}

#boton{
  width:100%;
  background: linear-gradient(to bottom, #d1d1e0 0%, #999999 90%);
  cursor: crosshair;
  text-align: center;
  font-size: 18px;
  border: 2px white;
  height:100%;
}
#boton:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, #d1d1e0 0%, #fafafa 100%);
    opacity: 0;
    transition: all 3s ease-in-out;
}

#boton:after:hover{
  opacity: 1;
}
