.calculadora-c{
  border-radius: 10px;
  background-color: rgba(250,250,250,0.6);
  /*
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;*/
  width: 40%;
  margin-left:30%;
  margin-right: 30%;
  font-family: 'Poppins', sans-serif;
  -moz-box-shadow:    0 0 1px #000000;
-webkit-box-shadow:  0 0 1px #000000;
box-shadow:          0 0 1px #000000;
margin-top: 10vw;
}

@media (max-width:1000px) {
  .calculadora-c{
width: 90%;
margin-left: 5%;
margin-right: 5%;

  }
}

.calculadora-h{
  width: 100%;
  text-align: center;
}

.calculadora-lbl{
  text-align: center;
  width: 100%;
  //background-color: red;

}

.calculadora-input{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(135,28,74,0.3);
  outline: none;
  border-radius: 5px;
  border: 1px solid #871C4A;
  text-align: center;
  font-size: 25px;
  color: #464646;
}


.calculadora-button{
  background-color: rgba(135,28,74,0.3);
  border: 1px solid #871C4A;
  border-radius: 50px;
  height: 25px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
