.inicio-img{
  width: 100%;
  height:calc(100vh - 54px);
//  background-color: red;
  background-image: url("../img/houses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  background-attachment:fixed;
  z-index: -1;

}


.hipotecaris-logo{
  background-image: url("../svg/hipotecaris.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vw;
  width: 40vw;
  z-index: 4;
  position: absolute;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 10vh;
  background-color:rgba(250,250,250,0.4);
  overflow: hidden;
  background-size: 120% 120%;
  border-radius: 10%;
  backdrop-filter: blur(2px);

}


@media (max-width:1000px) {

  .hipotecaris-logo{
    height: 60vw;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
  }


}
