@media (max-width: 1000px) {

#desk-btn-calculadora{
  display: none;
}

#desk-btn-inicio{
  display: none;
}
#desk-btn-acerca{
  display: none;
}

#desk-btn-contacto{
  display: none;
}


#logo-desktop{
  width:33%;
}

.nav-bar-desktop{
  height: 10vh;
}



.inicio-v{
  margin-top: 10vh;
}


body{
  background-size: 50% 50vw;
}




}


/////////////////
.hamburger-menu{
  display: none;
}

.mobile-nav-bar{
  display: none;
  background-color: red;
  max-height: 0;
  width: 100%;
  position: fixed;
  z-index: 98;

}



.open{
display: block;
max-height: 200px;
animation: slideDown 0.5s ease;

}

.closed{
max-height: 0px;
animation: slideUp 2s ease;
display: none;
}









.hamburger-menu{
  display: inline-block;
  height: 10vh;
  width: 10vh;
  float: right;
}


.nav-mobile-btn{
width: 100%;
text-align: center;
float: left;
font-size: 100%;
margin-bottom: 3%;
height: 5vh;
}

#mobile-btn-inicio{
  margin-top: 3%;
}
