@media (max-width: 1000px) {

#desk-btn-calculadora{
  display: none;
}

#desk-btn-inicio{
  display: none;
}
#desk-btn-acerca{
  display: none;
}

#desk-btn-contacto{
  display: none;
}


#logo-desktop{
  width:33%;
}

.nav-bar-desktop{
  height: 10vh;
}

#views{
margin-top:10vh;
}

.inicio-v{
  margin-top: 10vh;
}


body{
  background-size: 50% 50vw;
}

.hamburger-menu{
  display: inline-block;
  height: 10vh;
  width: 10vh;
  float: right;
}





}
