*{
  margin: 0;
  padding: 0;
}


@import url("http://weloveiconfonts.com/api/?family=entypo");
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body{
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
