@import "main";
@import "partials/inicio";
@import "partials/acerca";
@import "partials/calculadora";
@import "partials/contacto";
@import "nav-bar/desktop";
@import "nav-bar/mobile";
@import "resolutions/1000";
@import "pace/pace";
