

.calculadora-c {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.calculadora-img{
  height: 100px;
}

.calculadora-img-color{
  height: 100px;

}

.calculadora-img-h1{
  font-size: 8vw;
  margin-top: 7%;
}


.calculadora-h {
  font-size: 7vw;
}

.calculadora-input{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
